* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
nav {
  background-color: #e3bc0b;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.logo {
  line-height: 70px;
  padding: 0 100px;
  height: 70px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
nav ul {
  float: right;
  margin-right: 40px;
}
nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-left: 20px;
}
.check {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 70px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 950px) {
  label .logo {
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 850px) {
  .check {
    display: block;
  }
  ul {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 60vh;
    background-color: #e3bc0b;
    top: 80px;
    transition: all 0.5s;
    left: -100%;
    text-align: center;
  }
  nav ul li {
    display: block;
    color: black;
  }
  nav ul li a {
    font-size: 20px;
    background: none;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .check {
    margin-right: 20px;
  }
}
.main-nav ul li a:hover {
  color: rgb(0, 136, 240);
}

/* Dropdown Button */
.dropbtn {
  /* background-color: #04AA6D; */
  /* color: white */
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

/* .img-section{
    padding-top: 80px;
  width: 100%;
  height: 100%;
  /* border-radius: 10px 10px 0 0; 
  object-fit: cover;
  transition: all 0.5s;
/* }
 .img4 img{
    object-fit:cover

     
} */

/* Main section */
section {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 950px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box {
    justify-content: center;
    align-items: center;
  }
  .img-border img {
    width: 100%;
    height: 100%;
    /* border-radius: 10px 10px 0 0; */
    object-fit: cover;
    transition: all 0.5s;
  }
}
.box {
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px black;
  transition: 0.5s;
  border: 0px solid black;
  height: 500px;
  width: 400px;
  z-index: 1;
  overflow: hidden;
}
.box:hover {
  box-shadow: 8px 8px 16px black;
}
.box img {
  width: 100%;
  height: 100%;
  /* border-radius: 10px 10px 0 0; */
  object-fit: cover;
  transition: all 0.5s;
}
.box .img-border {
  height: 60%;
  overflow: hidden;
  width: 100%;
}
.box p {
  padding: 10px;
}
.box a {
  padding: 10px;
  text-decoration: none;
  color: rgb(2, 149, 235);
  font-size: 20px;
}
.box img:hover {
  z-index: 1;
  transform: scale(1.1);
}

/* FAQ section */

.faq-section {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-faq {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.header-faq h2 {
  display: block;
  padding: 0 20px 0 25px;
  flex-direction: column;
  align-items: center;
}
.header-faq h2 {
  display: block;
  flex-direction: column;
  align-items: center;
}

.accordion {
  margin-top: 20px;
  width: 80%;
}
.ask-question {
  border: 1px solid rgb(156, 149, 149);
  border-radius: 5px;
  width: 50%;
  padding: 10px;
  height: 120px;
  text-align: center;
  background-color: #e3bc0b;
  margin-bottom: 10%;
  margin-top: 40px;
}
.ask-question div{
  display: block;
  padding: 0;
  margin: 0;
}
.ask-question #p1{
  display: block;
  flex-direction: column;
}
.ask-question #p2{
  display: block;
  flex-direction: column;
}
.ask-question button {
  background-color: #0c4ef3;
}
@media (max-width: 950px)
{
  .ask-question {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
    
  }
}


/* Style for footer_section */
.footer_section {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
  /* text-align: center; */
}

.footer_section p {
  margin: auto;
  font-size: 14px;
  text-align: center;
}
